@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'futura';
        src: url('../../public/assets/fonts/futura.otf') format('opentype');
    }
}

html {
    font-size: 18px;
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
}
